<ion-content>
  <form  #form="ngForm" (ngSubmit)="submit(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <h3 class="ion-text-center">Create your account!</h3>
          <ion-item>
            <ion-input  name="email" type="email" placeholder="Email" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="confirm" type="password" placeholder="Password again" ngModel required (ionChange)="confirmPasswordChanged(form)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button  size="large" type="submit" [disabled]="form.invalid || !confirmed" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          If you already have an account, go to <a routerLink='/login'>login</a> page.
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="changeTheme($event)">
        <ion-icon slot="start" [name]="themeIcon"></ion-icon>
        {{ themeText }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>